.backgroundd{
    background-image:url("colonia\ sant\ jodi.jpg");
    background-repeat:repeat-x;
    background-position:right top;
    margin-right:200px;
    background-attachment:scroll;
}

.life{
    color:cadetblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold;
    border:3px solid #808080;
    border-radius:5px;
    padding:5px;
}
.tumi{

}